#ignore some files
.scripts/validation_by_classification/
#scripts/revised_weighting/
#scripts/collection_2_conversion/
#scripts/kMeanClustering/
#/vol/v1/proj/LTOP_mekong/LTOP_FTV/scripts/lt_seletor/01_ltop_lt_paramater_scoring_new_version.py
#/vol/v1/proj/LTOP_mekong/LTOP_FTV/scripts/lt_seletor/01_ltop_lt_paramater_scoring_reweighted.py
#/vol/v1/proj/LTOP_mekong/LTOP_FTV/scripts/lt_seletor/01_ltop_lt_parameter_scoring.py
#vol/v1/proj/LTOP_mekong/LTOP_FTV/scripts/abstractImageSampling/csv_to_abstract_images.py
#/vol/v1/proj/LTOP_mekong/LTOP_FTV/scripts/abstractImageSampling/landtrendrParametersListGenerator.py
#/vol/v1/proj/LTOP_mekong/LTOP_FTV/scripts/abstractImageSampling/LT_parameter_varations_list_dic_144.txt
#/vol/v1/proj/LTOP_mekong/LTOP_FTV/scripts/GEEjs/trash/